<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Clothing List</title>
</head>
<body>
  <h1>Clothing List</h1>
  <ul>
    <% for (let i = 0; i < clothing.length; i++) { %>
      <li><%= clothing[i] %></li>
    <% } %>
  </ul>
</body>
</html>